html,
body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(180deg, #f6b868 0%, #ee6b2d 100%); */
}

.complete-page {
  min-width: 100%;
  min-height: 100vh;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  background: linear-gradient(180deg, #f6b868 0%, #ee6b2d 100%);
}

.container {
  padding-top: 80px;
  justify-content: center;
  margin: auto;
}

.wrapper {
  justify-content: center;
  display: flex;
  margin: 10px 0;
}

.toggles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 21px 50px;
  gap: 25px;
  flex: 1;
}

#my-title {
  position: absolute;
  min-width: 464px;
  min-height: 56px;
  left: 408px;
  top: 72px;
  text-align: center;
  color: white;
}

h1 {
  font-style: normal;
  font-size: 40px;
  line-height: 150%;
  margin: 0;
}

h2 {
  font-size: 32px;
}

.single-toggle-container {
  min-height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  min-height: 70px;
  max-width: 900px;
  margin-bottom: 10px;
  flex-direction: row;
}

.row-toggle-container {
  min-height: 100px;
  width: 50%;
}

.single-toggle {
  display: flex;
  justify-content: center;
  min-height: inherit;
  width: 90%;
  border-radius: 100px;
  border: 1px solid #fbfbfb;
  background: transparent;
  text-align: center;
  position: relative;
  padding: 0;
}

.row-toggle {
  flex-direction: column;
  border-radius: 20px;
  margin: auto;
  width: 60%;
}

.single-toggle:hover {
  cursor: pointer;
}

.toggle-text {
  font-size: 18px;
  padding: 0 5px;
  margin: auto;
  color: white;
  box-sizing: border-box;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-align: center;
  transition: 0.5s;
  justify-content: center;
  top: 50%;
}

.slider {
  transition: all 0.5s;
  background-color: hsla(0, 0%, 98.4%, 0.5);
  border-radius: 100px;
  width: 50%;
  padding: 0;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.row-slider {
  border-radius: 20px 20px 0 0;
  height: 50%;
  width: 100%;
}

.active {
  left: 50%;
}

.active-row {
  top: 50%;
  border-radius: 0px 0px 20px 20px;
}

.active-text {
  color: #9f938b;
  z-index: 100;
}

.title {
  text-align: center !important;
  color: white;
  margin: 0;
}

.page-lock {
  pointer-events: none;
  cursor: default;
}

.correct {
  background: linear-gradient(180deg, #abe9cd 0%, #3eadcf 100%);
}

.nearly {
  background: linear-gradient(180deg, #edd174, #dbb30e 100%);
}

.closer {
  background: linear-gradient(180deg, #f6b868 0%, #ee6b2d 100%);
}

.very-wrong {
  background: linear-gradient(180deg, #f1b496 0%, #ea806a 100%);
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 1.2em;
  }
  h2 {
    font-size: 1em;
  }
  .container {
    padding-top: 40px;
  }
  .single-toggle-container {
    min-height: 45px;
  }
  .row-toggle-container {
    min-height: 80px;
  }
  .toggle-text {
    width: 50%;
    padding: 2px 20px;
    font-size: 1.2em;
  }
  .toggles-container {
    padding: 20px 0;
    gap: 30px;
  }
  .row-toggle {
    width: 90%;
  }
  .row-text {
    font-size: 18px;
    padding: 0;
    font-weight: 700;
    letter-spacing: 0.4px;
    transition: 0.5s;
  }
}
